/*
* This file is part of Experows.
* 
* To the extent possible under law, the author has dedicated 
* all copyright and related and neighboring rights to this software to
* the public domain worldwide. 
* 
* This software is distributed without any warranty.
* 
* You should have received a copy of the CC0 Public Domain Dedication
* along with this software. If not,
* see <http://creativecommons.org/publicdomain/zero/1.0/>.
*/

html {
	background: grey;
	color: white;
}

.row {
	margin: 1vw;
	padding: 1vw;
	border: 2px ridge black;
	display: flex;
}

.row * {
	margin: 2px 4px;
}

.textoutput {
	border: 2px inset black;
	min-width: 20%;
	font-size: 80%;
	width: 24em;
}

#inpage-console {
	width: inherit;
	height: 4em;
}

